@-moz-document url("https://www.overleaf.com/project")
{
    a {
        color: #75a9f5;
    }

    #main-content {
        background-color: #12171f;
    }

    .project-search > .form-group > input {
        background-color: #1e2530;
        border-color: #3b4657;
        color: white;
    }

    .project-list-card {
        background-color: #2c3645;
        color: white;
    }

    .project-list-table-header-row,
    .project-list-table-row {
        border-bottom: 1px solid #485468;
    }

    .project-list-table-row:hover {
        background-color: #364253;
    }

    .label.tag-label-name,
    .label.tag-label-remove {
        background-color: #1a212c;
        color: #7e93b1;
    }

    footer.site-footer {
        background-color: #1e2530;
        border-top: 1px solid #3b4657;
        color: #7e899a;
    }

    footer.site-footer a {
        color: #4da944;
    }

    .btn-link {
        color: #578ee0;
    }
}
